@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter-font, body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared-style  */
:root {
  --primary : #ffffff;
  --secoundery: #00FF88;
  --text : rgba(255, 255, 255, 1);
  --bg: #1A0B2E;
  --bg-light: #230E3D;
}
body {
  background-color: var(--bg);
  color: var(--primary);
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
border-radius: 1000px;
color: var(--primary);
background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
padding: 12px 20px;
font-size: 16px;
font-weight: 600;
border: none;
}
.flex {
  display: flex;
}

/* Main-design-part */
header {

}
header .main-container {
  justify-content: space-between;
  padding: 30px 15px;
  align-items: center;
}
.logo h3 {
  font-size: 3rem;
}





/* Mobile-Responsive-section */
@media screen and (max-width: 576px) {
  .main-container {
  max-width: 100%;
}
}